.info {
	display: flex;
	align-items: center;
	padding: 10px;
	flex-direction: column;
}

.topography {
	font-size: 25px;
	color: white;
	margin: 20% 20px 20% 20px;
}

.word-card {
	width: 100%;
	border-radius: 30px;
	background-color: #fff;
	margin-top: 20px;
	padding: 20px;
}

.main-word {
	font-size: 2.5rem;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.tiny-topography {
	color: #999;
	font-style: italic;
	font-size: 16px;
	margin-bottom: 20px;
}

.tiny-topography-lite {
	color: #999;
	font-style: italic;
	font-size: 12px;
	margin: 5px 0;
}

.card-info {
	position: relative;
	padding: 0px 0 0px 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 0.3s ease-in-out all;
}

.card-info:nth-child(n-1) {
	margin-bottom: 15px;
}

.card-info::before {
	position: absolute;
	content: '';
	left: -5px;
	height: 100%;
	width: 3px;
	background: rgb(125, 181, 247);
}

.card-info:hover {
	margin-left: 15px;
}

.card-detail {
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 8px;
	color: rgb(125, 181, 247);
}

.card-info .hidden {
	transform: scale(0);
}